#production
#SetEnv DB sports
#SetEnv DB_SERVER 127.0.0.1
#SetEnv DB_PASSWORD y#GbqXtBGcy!z3Cf
#SetEnv DB_USER root
#heroku
SetEnv DB sports
SetEnv DB_SERVER nt71li6axbkq1q6a.cbetxkdyhwsb.us-east-1.rds.amazonaws.com
SetEnv DB_USER ugaf16xakn6l03kv
SetEnv DB_PASSWORD pzai4vad7q5d55gr


DirectoryIndex index.php
SetEnv APPLICATION_ENV "development"

#turn off for dev, on for prod. Forces https redirect
# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# php_flag display_startup_errors off
# php_flag display_errors off
# php_flag html_errors off
# php_value error_reporting 0

# php_flag display_startup_errors on
# php_flag display_errors on
# php_flag html_errors onn
# php_value error_reporting E_ALL
