h1{
    text-align: center;
}
h3, button{
    margin-bottom: 5px;
}
p{
    margin-top: 15px;
}
.pagination__controls {
    width: 100%;
    /* text-align: center; */
}
.pagination li{
    display: inline-block;
    background-color: #bb0a1e;
    color: white;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
}
.pagination li a{
    color: white;
}
button{
    background-color: #bb0a1e;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    float: right;
}
p{
    clear: both;
}
#blog-pic{
    max-width: 100%;
    max-height: auto;
}
@media only screen and (min-width: 520px) {
    
}