
#player-form{
    max-width: 500px;
    margin: auto;
}
#player-form h2{
    text-align: center;
    margin-bottom: 10px;
}
#player-form input, #player-form button{
    margin-bottom: 10px;
}
#username, .password{
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 0;
}
#btn-login, #btn-create-account, #btn-reset, #btn-reset-password{
    background-color: #bb0a1e;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    width: 100%;
}
#registration-code-error, #username-error, #password-match-error{
    color: red;
    display: none;
}
@media only screen and (min-width: 520px) {
    #player-form{
        max-width: 300px;
    }
    .g-recaptcha{
        transform:scale(1); 
        -webkit-transform:scale(1); 
    }
}