/*ITCSS CSS layered from general to specific */
/*APPLIES TO myinfo.php.php*/
/*GENERIC LAYER */
#player-form{
    width: 80%;
    margin: auto;
   /* border: 2px solid black; */
    border-radius: 5px;   
}
input{
    border-radius: 4px;
    margin: 10px 0;
    height: 25px;
    width: 100%;
    font-size: 16px;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
}
select, textarea{
    width: 290px;
    height: 30px;
    font-size: 16px;
}
#height2, #service{
    margin-top: 10px;
}
textarea{
    height: 60px;
    resize: none;
}
.hide{
    display: none;
}
#refs{
    margin-bottom: 25px;
}
h3{
    margin-bottom: 15px;
}
.span{
    color: #bb0a1e;

}
.servicelabel{
    margin-top: 15px;
}
#btnSubmit{
    background-color: #bb0a1e;
    color: white;
    height: 56px;
    width: 100%;
}
@media only screen and (min-width: 520px){
    h1, h3{
        text-align: center;
    } 
    #refs-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #height{
        width: 47%;
    }
    #height1, #height2{
        width: 75%;
    }
    #height2{
        margin-left: 23%;
    }
    #textarea{
        height: 100px;
    }
    #btnSubmit{
        background-color: #bb0a1e;
        color: white;
        height: 56px;
        width: 40%;
        margin-left: 10%;
    }
    #btnSubmit:hover{
        background-color: #be1f1f;
        color: white;
    }
    label{
        display: block;
        width: 100%;
    }
    input{
        width: 100%;
        margin-bottom: 15px;
    }

}

/*
				
	<input type='submit'
		value='Get Players'
		name = 'getPlayers'
		class='button'
		id='getPlayers'/>




        <label class='span'>Height*: &nbsp; </label>
						  	<input type='text'
								id = 'heightFeet'
								name= 'heighFeet'
								size = '35'
								maxlength = '5'
								placeholder = '5'10''
								value='{$player->getHeightFeet()}'
								onclick='' />
        */